<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.Manish.testScripts.TestCaseRunner</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>sendRequestDataWithParameterization</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkAuthToken</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyMultipleUserData_Tc_002</td>
<td>smoke </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyUserListPageWise</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifySingleUserData_Tc_001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyGetAllUserList_TC_003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyaddedUSerwithPostMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>preRequisite</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
