<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>smoke</td><td>TestCaseRunner.verifyMultipleUserData_Tc_002()[pri:0, instance:com.Manish.testScripts.TestCaseRunner@3a883ce7]<br/></td></tr>
</table>
